<!-- ********************* FORM_SETTINGS ******************** -->
<TMPL_IF FORM_SETTINGS>

<STYLE>
	.lb_flex-item 
	{	
		min-width	:40%;
		width		:40%;
		max-width	:40%;
		flex-wrap	:nowrap;
		margin-top	:-10px;  
	}
	.lb_flex-item-label
	{
		min-width	:20%;
		position	:relative;
		margin-left	:10px;
	}
	.lb_flex-item-spacer
	{
		width	:5%;
	}
	.lb_flex-item-help 
	{
		min-width	:25%;
		width		:25%;
		position	:relative;
		margin-left	:10px;
		font-size	:0.8em;
	}
</STYLE>

<center>
	<div style="display:flex;align-items:center;justify-content:center;width:100%">
		<center>
		<span id="rfdstate"></span>&nbsp;|&nbsp;<span id="hm2mqttstate"></span>
		</center>
	</div>
</center>
<hr>
<br>

<FORM enctype="multipart/form-data" id="main_form" method="post" data-ajax="false"> 
<INPUT id="saveformdata" name="saveformdata" type="hidden" value="1">

<DIV	class="lb_flex-container settings">
	<DIV	class="lb_flex-item-label">
		<LABEL	class=	"control-label" ><TMPL_VAR SETTINGS.LABEL_ENABLERFD></LABEL>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item">
		<input type="checkbox" id="EnableRFD" name="EnableRFD" value="1" data-role="flipswitch">
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-help">
		<TMPL_VAR SETTINGS.HINT_ENABLERFD>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>

<DIV	class="lb_flex-container settings">
	<DIV	class="lb_flex-item-label">
		<LABEL	class=	"control-label" ><TMPL_VAR SETTINGS.LABEL_ENABLEHM2MQTT></LABEL>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item">
		<input type="checkbox" id="EnableHM2MQTT" name="EnableHM2MQTT" value="1" data-role="flipswitch">
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-help">
		<TMPL_VAR SETTINGS.HINT_ENABLEHM2MQTT>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>

<DIV	class="lb_flex-container settings">
	<DIV	class="lb_flex-item-label">
		<LABEL	class=	"control-label" ><TMPL_VAR SETTINGS.LABEL_LOGLEVEL></LABEL>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item">
		<TMPL_VAR LOGLEVEL>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-help">
		<TMPL_VAR SETTINGS.HINT_LOGLEVEL>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>

<DIV	class="lb_flex-container settings">
	<DIV	class="lb_flex-item-label">
		<LABEL	class=	"control-label"
			for="NamesFile"><TMPL_VAR SETTINGS.LABEL_NAMESFILE></LABEL>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item">
		<input width="100%" value="" id="NamesFile" name="NamesFile" type="file" data-clear-btn="true"> 
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-help hint">
		<TMPL_VAR SETTINGS.HINT_NAMESFILE>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>

<DIV	class="lb_flex-container settings">
	<DIV	class="lb_flex-item-label">
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item">
		<table>
			<tr>
				<td width="100%"><TMPL_VAR SETTINGS.LABEL_CURRENTNAMESFILE>&nbsp;<span id="currentnamesfile">
					<TMPL_VAR CURRENTNAMESFILE></span></td>
				<td><a href="#" onclick="return clean_namesfile();" class="ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all">No text</a></td>
			</tr>
		</table>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-help hint">
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>

<!--
<DIV	class="lb_flex-container settings">
	<DIV	class="lb_flex-item-label">
		<LABEL	class=	"control-label"
			for="RFDPort"><TMPL_VAR SETTINGS.LABEL_RFDPORT></LABEL>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item">
		<input width="100%" value="" id="RFDPort" name="RFDPort" type="text" class="textfield" 
		data-validation-rule="special:number-min-max-value:1:65000" data-validation-error-msg="<TMPL_VAR SETTINGS.MSG_VALINVALID_PORT>">
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-help hint">
		<TMPL_VAR SETTINGS.HINT_RFDPORT>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>
-->

<DIV	class="lb_flex-container settings">
	<DIV	class="lb_flex-item-label">
		<LABEL	class=	"control-label"
			for="HM2MQTTPort"><TMPL_VAR SETTINGS.LABEL_HM2MQTTPORT></LABEL>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item">
		<input width="100%" value="" id="HM2MQTTPort" name="HM2MQTTPort" type="text" class="textfield" 
		data-validation-rule="special:number-min-max-value:1:65000" data-validation-error-msg="<TMPL_VAR SETTINGS.MSG_VALINVALID_PORT>">
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-help hint">
		<TMPL_VAR SETTINGS.HINT_HM2MQTTPORT>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>

<DIV	class="lb_flex-container settings">
	<DIV	class="lb_flex-item-label">
		<LABEL	class=	"control-label"
			for="HM2MQTTPrefix"><TMPL_VAR SETTINGS.LABEL_HM2MQTTPREFIX></LABEL>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item">
		<input width="100%" value="" id="HM2MQTTPrefix" name="HM2MQTTPrefix" type="text" class="textfield" 
		data-validation-rule="special:alphanumeric" data-validation-error-msg="<TMPL_VAR SETTINGS.MSG_VALINVALID_HM2MQTTPREFIX>">
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-help hint">
		<TMPL_VAR SETTINGS.HINT_HM2MQTTPREFIX>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>

<DIV	class="lb_flex-container settings">
	<DIV	class="lb_flex-item-label">
		<LABEL	class=	"control-label"
			for="BrokerUsername"><TMPL_VAR SETTINGS.LABEL_BROKERUSERNAME></LABEL>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item">
		<input width="100%" value="" id="BrokerUsername" name="BrokerUsername" type="text" class="textfield"> 
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-help hint">
		<TMPL_VAR SETTINGS.HINT_BROKERUSERNAME>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>

<DIV	class="lb_flex-container settings">
	<DIV	class="lb_flex-item-label">
		<LABEL	class=	"control-label"
			for="BrokerPassword"><TMPL_VAR SETTINGS.LABEL_BROKERPASSWORD></LABEL>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item">
		<input width="100%" value="" id="BrokerPassword" name="BrokerPassword" type="text" class="textfield"> 
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-help hint">
		<TMPL_VAR SETTINGS.HINT_BROKERPASSWORD>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>

<br><br>
<center>
<button type="submit" form="main_form" name="btnsubmit" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon=""><TMPL_VAR SETTINGS.BUTTON_SAVE></button>
</center>

</FORM>

<script>

// Validation
validate_enable('#RFDPort');
validate_enable('#HM2MQTTPort');

var cfg;

$(function() {
	
	// PIDs
	setInterval(function(){ update_pids(); }, 5000);
	update_pids();
	update_cfg();

});


function update_cfg() 
{

	// Parse config
	cfg = JSON.parse('<TMPL_VAR JSONCONFIG>');
	console.log("Config", cfg);

	// Elements 
	for(var elemname in cfg) {
		var inputType = $("#"+elemname).attr('type');
		console.log("Element", elemname, cfg[elemname], inputType);
		if(inputType == "checkbox") {
			if( cfg[elemname] == 1 || cfg[elemname] == "True" || cfg[elemname] == "true" ) {
				console.log("True:", elemname, cfg[elemname], inputType);
				$("#"+elemname).prop('checked', true);
				$("#"+elemname).flipswitch( "refresh" );
				//$("#"+elemname).checkboxradio('refresh');
			} else {
				console.log("False:", elemname, cfg[elemname], inputType);
				$("#"+elemname).prop('checked', false);
				$("#"+elemname).flipswitch( "refresh" );
				//$("#"+elemname).checkboxradio('refresh');
			}
		} else if(inputType !== "file") {
				$("#"+elemname).val(cfg[elemname]);
		}
	}

	// Set defaults
	if( !cfg['NamesFile'] ) {
			$("#currentnamesfile").attr("style", "color:green").html("<TMPL_VAR SETTINGS.MSG_NOFILE>");
	}

}

function update_pids() 
{

	$.post( 'index.cgi', {
		ajax: 'getpids'
	})
	.done(function(resp) {
		console.log( "ajax_post", "success", resp );
		if(resp.pids.rfd != null) {
			$("#rfdstate").attr("style", "color:green").html("<TMPL_VAR SETTINGS.MSG_RFD_RUNNING> (PID "+resp.pids.rfd+")");
		} else {
			$("#rfdstate").attr("style", "color:red").html("<TMPL_VAR SETTINGS.MSG_RFD_NOTRUNNING>");
		}
		if(resp.pids.hm2mqtt != null) {
			$("#hm2mqttstate").attr("style", "color:green").html("<TMPL_VAR SETTINGS.MSG_HM2MQTT_RUNNING> (PID "+resp.pids.hm2mqtt+")");
		} else {
			$("#hm2mqttstate").attr("style", "color:red").html("<TMPL_VAR SETTINGS.MSG_HM2MQTT_NOTRUNNING>");
		}
		
	})
	.fail(function(resp) {
		$("#rfdstate").attr("style", "color:red").html("<TMPL_VAR SETTINGS.MSG_FAILED_PID>");
		$("#hm2mqttstate").attr("style", "color:red").html("<TMPL_VAR SETTINGS.MSG_FAILED_PID>");
		
	  })
	.always(function(resp) {
		console.log( "ajax_post", "finished", resp );

	});

}

function clean_namesfile() 
{

	$.post( 'index.cgi', {
		ajax: 'cleannamesfile'
	})
	.done(function(resp) {
		console.log( "ajax_post", "success", resp );
		if(resp.namesfile != null) {
			$("#currentnamesfile").attr("style", "color:green").html(resp.namesfile);
		} else {
			$("#currentnamesfile").attr("style", "color:green").html("<TMPL_VAR SETTINGS.MSG_NOFILE>");
		}
	})
	.fail(function(resp) {
		$("#currentnamesfile").attr("style", "color:red").html("<TMPL_VAR SETTINGS.MSG_FAILED_NAMESFILE>");
		
	  })
	.always(function(resp) {
		console.log( "ajax_post", "finished", resp );

	});

}

</script>

</TMPL_IF>



<!-- ********************* FORM_SNIFFER ******************** -->
<TMPL_IF FORM_SNIFFER>

<TMPL_VAR SETTINGS.HINT_LATER>

</TMPL_IF>



<!-- ********************* FORM_FIRMWARE ******************** -->
<TMPL_IF FORM_FIRMWARE>

<TMPL_VAR SETTINGS.HINT_LATER>

</TMPL_IF>
